<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<span>{{ title }} app is running!</span>
<span>{{ lastUpdate  | async|date }} </span>

<app-blog></app-blog>

<!-- <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout allumer</button> -->


<div class="container">
  <div class="row">
    <div class="col-xs-12">
     


<!--
      <app-mon-premier *ngFor="let appareil of appareils"  [appareilName]="appareil.name"></app-mon-premier>


      <app-mon-premier  *ngFor="let appareil of appareils"
                       [appareilName]="appareil.name"
                      ></app-mon-premier> -->


    </div>
  </div>
</div>
<router-outlet></router-outlet>
